<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/scripts/messageboard.js"></script>
  </head>
  <body class="bg-slate-800 text-white m-14">
    <h1 class="text-4xl">Message Board</h1>
    <div id="message-board-wrapper" class="break-words">
      <% for( let i = 0; i < messages.length; i++ ) { %>
      <div
        class="border-b-gray-400 border-b-2 pb-3"
      >
        <p class="font-bold m-2 ml-0"><%= currentUser ? messages[i].user : 'Anonymous' %>:</p>
        <p class="ml-3"><%= messages[i].content %></p>
        <div>
          <span class="opacity-50 ml-3">
            <%= formatDate(messages[i].date) %> ago
          </span>
          <span class="italic opacity-50">
            (<%=messages[i].date.getMonth()+1 %>/<%=
            messages[i].date.getDate() %>/<%= messages[i].date.getFullYear()
            %>)
          </span>
        </div>
      </div>
      <% } %>
    </div>
    <div class="flex flex-col m-3">
      <% if (!locals.currentUser) { %>
      <a id="toggle-login-button" class="mb-1 cursor-pointer">Sign in to add new message and view usernames</a>
      <form class="hidden flex-col" id="login-form" action="/log-in" method="POST">
        <input 
          name="username" 
          placeholder="Username" 
          type="text" 
          autocomplete="username"
          class="text-black"
        />
        <input 
          name="password" 
          placeholder="Password"
          type="password" 
          autocomplete="password"
          class="text-black"
        />
        <button>Sign in</button>
      </form>
      <p class="mb-1">Or</p>
      <a class="cursor-pointer" href="/sign-up"><button>Sign up</button></a>
      <% } else { %>
        <a href="/add-message">
          <button class="mb-1" id="add-message">
            Add new message
          </button>
        </a>
        <a href="/log-out"><button>Sign out</button></a>
      <% } %>
      <% if (error) { %>
        <div class="bg-red-500 rounded-xl my-2" id="errors">
          <% error.forEach(function(err) { %>
            <p class="px-2.5 py-1 my-2"><%= err %></p>
          <% }); %>
        </div>
      <% } %>
      <% if (success) { %>
        <div class="bg-green-500 rounded-xl my-2" id="success">
          <% success.forEach(function(succ) { %>
            <p class="px-2.5 py-1 my-2"><%= succ %></p>
          <% }); %>
        </div>
      <% } %>
    </div>
  </body>
</html>
